/*
 * Workflow metadata
 */

manifest {
   author = "Patrick Barth"
   version = "0.1"
   mainScript = "main.nf"
   defaultBranch = "master"
   name = "Place holder"
   description = "Pipeline to determine if dsRNa can produce siRNAs with off-target effects"
   nextflowVersion = "23.10.0"
}

/*
Parameters
*/

params {
	length_seed = 8
	max_mismatches = 6
}

/*
 * Fixed parameters 
*/

params.manifest   = manifest
params.help       = false

profiles {
	slurm {
		process.executor = 'slurm'
	}
	local {
		process.executor = 'local'
	}

    podman {
		podman.enabled = true
	}
}

process{
    withName: split_dsRNA {
		cpus = 1
		memory = '5 GB'
		//container = 'docker://pbarth/trim_galore:1.0'
	}
    withName: align_siRNAs {
		cpus = 8
		memory = '10 GB'
		//container = 'docker://pbarth/trim_galore:1.0'
	}
}